page-register {
	.scroll-content {
    margin-bottom: 0 !important;
	}
	.bg-clouds {
		background: #ecf0f1;
	}
	.bg-sunflower {
		background: #f1c40f;
	}
	.bg-orange {
		background: #f39c12;
	}
	.bg-carrot {
		background: #e67e22;
	}
	.ion-toolbar p {
		text-align: left;
	}
	
	.footer {
		margin-top: 30px;
		text-align: center;
	}
}
